.logo {
  width: 167.02px;
  height: 29.46px;
  margin-top: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 1910px;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background-image: url(/images/Object.png);
  background-size: cover;
  width: 100%;
  height: 1093px;
  gap: 0px;
  opacity: 0px;
}
header,
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header {
  gap: 240px;
}
li {
  list-style: none;
}

ul {
  display: flex;
  justify-items: center;
  gap: 12px;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.08px;
  text-align: left;
}

h1 {
  text-align: center;
  margin-bottom: 1px;
  font-family: Source Sans Pro;
  font-size: 70px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
#unlike {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-family: Source Sans Pro;
}

.parara {
  color: rgb(214, 213, 213);
  font-size: 20px;
  font-family: Source Sans Pro;
}
#content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-items: center;
  text-align: center;
  gap: 50px;
}
.user-card {
  display: flex;
  width: 107px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  border-radius: 50%;
}
.btn-para {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.button {
  text-align: center;
  border-radius: 20px;
  width: 162px;
  height: 30px;
  border-color: rgba(194, 113, 255, 1);
  color: rgb(214, 213, 213);
  border: solid 0px;
  background: rgba(194, 113, 255, 1);
}

.colo {
  color: rgba(194, 113, 255, 1);
}

.diff-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.span-user {
  color: rgb(214, 213, 213);
  font-size: 15px;
  font-family: Source Sans Pro;
}

.user-word {
  color: rgb(156, 155, 155);
  font-size: 12px;
  font-family: Source Sans Pro;
  text-align: center;
}

.testimonial {
  background: rgba(194, 113, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 392px;
  gap: 50px;
  opacity: 0px;
}

.asid-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: left;
  gap: 5px;
}

.para3 {
  width: 400px;
  color: #d6d5d5;
  font-size: 12px;
  font-family: Source Sans Pro;
}

.img2 {
  margin-top: 80px;
}

.name-p {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 3px;
}

#user-testmonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}

.small-content {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.phillip {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.philli-card {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-items: left;
  flex-direction: column !important;
}

.user-vd {
  width: 130px;
  height: 70px;
}

.head-2 {
  font-size: 20px;
  color: #505050;
}

.pill {
  font-size: 8px;
  position: absolute;
  left: 40px;
}

.para8 {
  font-size: 8px;
  margin-left: 30px;
  font-family: Source Sans Pro;
  font-weight: 600;
  color: rgba(194, 113, 255, 1);
}

.new-one,
.hadp {
  color: rgba(194, 113, 255, 1);
  font-family: Source Sans Pro;
  font-weight: 600;
}

.para5 {
  font-size: 8px;
  width: 120px;
}
.head5 {
  font-size: 12px;
}

.star {
  width: 50px;
  height: 10px;
}

.make-video {
  display: flex;
  position: relative;
}

.vidos {
  display: flex;
  position: absolute;
  left: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  bottom: 15px;
}

.user-feedback {
  background-color: rgba(7, 22, 41, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.how-user-impot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  position: relative;
}

.how {
  text-align: center;
}

.smile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}

.my-para {
  font-size: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: Source Sans Pro;
  font-weight: 200;
  line-height: 12px;
  opacity: 0.5;
  text-align: center;
  width: 150px;
  margin-top: 35px;
}

.hay {
  margin-top: 35px;
}

.hiy {
  margin-bottom: 35px;
}

.head0 {
  text-align: center;
  color: rgba(255, 255, 255, 1);
  opacity: 0.7;
  position: absolute;
}

.kanyuzo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.centering {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  gap: 80px;
  margin-bottom: 30px;
}

.fina {
  margin-top: 25px;
  margin-bottom: 20px;
}
.gtt {
  color: rgba(7, 22, 41, 1);
  font-size: 20px;
  margin-top: 20px;
}

.design {
  font-size: 10px;
  color: rgba(7, 22, 41, 0.5);
  font-family: Source Sans Pro;
  width: 250px;
}

.chill {
  font-size: 15px;
  color: rgba(7, 22, 41, 0.8);
  font-family: Source Sans Pro;
}

footer {
  background: rgba(7, 22, 41, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

#conte {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  margin-top: 20px;
}

.img-look {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

#unnom {
  color: rgba(255, 255, 255, 1);
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  text-align: center;
  margin-bottom: 15px;
}
.social {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
